.footer {
    padding: 120px 0px;
    height: 271px;
    color: $color_grey;
    line-height: 3em;
    
    &__icons i {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 10px;
        font-size: 20px;
        line-height: 40px;
        color: $color_grey;
        text-align: center;
        border: 1px solid $color_grey;
        border-radius: 3px;
    }
    
}

