%for_title {
    font: {
        family: $f_montserrat;
        size: 40px;
        weight: bold;
    }
    text-align: center;
}
.title {
    &--white {
        @extend %for_title;
        color: $color_white;
    }
}